@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*background: linear-gradient(to bottom, transparent, rgb(193, 226, 234)) rgb(3, 95, 203);*/
  /*width: 100vh;*/
  background: linear-gradient(to bottom, #2b004a, #191970);
  height: 100vh;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.navBarItem:hover {
  transform: scale(1.1);
}

.logo:hover {
  transform: scale(1.1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul li button.MuiButtonBase-root {
  color: white;
}

ul li button.MuiButtonBase-root:hover {
  background-color: #ba03ce;
}

/*Styles to control roulette*/
canvas {
  max-width: 20rem !important;
  max-height: 20rem !important;
}
